:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* main */
#bg {
  background-image: url("/main/bg.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  width: 100vw;
  height: 100vh;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(153, 192, 247, 0.0);
}

/* Nav */
.bubble {
  display: block;
  text-align: center;
  background-image: url("/main/bubble.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  width: 3rem;
  height: 3rem;
  scale: 1;
}

.navPos {
  right: 0;
  position: fixed;
  margin-right: 1rem;
  margin-top: 1rem;
}

.navMenu {
  transform-origin: center 45%;
  height: 3rem;
}

.navIcon {
  position: relative;
  top: 50%;
  transform: translate(0%, -70%);
  font-size: 1rem;
  color: rgba(255, 255, 255);
  filter: drop-shadow(1px 1px 2px rgba(141, 157, 169, 1));
}

/* Main - WaterContorl */
.setWater {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: auto 3rem 3rem;
  gap: 0.8rem;
  margin: 0 1rem 0.5rem 1rem;
  align-items: center;
}

/* Details */

.bg {
  background-color: #8fdfff;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.close {
  float: right;
  margin-top: 20px;
  margin-right: 20px;
}

.center {
  text-align: center;
}

.head {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.stroke {
  -webkit-text-stroke-width: 10px;
  -webkit-text-stroke-color: rgb(87, 191, 238);
}

h1 {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
  color: white;
}

p {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.content {
  position: absolute;
  top: 80px;
  text-align: left;
  margin: 5%;
  width: 90%;
}

.margin-bottom {
  margin-bottom: 40px;
}